.navbar {
    background-color: #1c2331;
  }
  
  .navbaritems {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  }
  
  .navbaritem {
    color: aliceblue;
    padding: 1em;
    text-transform: uppercase;
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
  }

  .navbaritem:hover {
    transform: scale(1.2);
  }
  
  .hamburger {
    position: absolute;
    margin-top: 60px;
    background-color: #1c2331;
    color: aliceblue;
    padding: 1em;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 8%;
    right: 0px; 
  }
  
  .hamburger a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 0.5em;
  }
  
  .hamburger a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .open {
    transform: translateY(0%);
  }
  
  .menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1c2331;
  }
  
  .menuList li {
    margin-bottom: 1em;
  }
  
  .menuList li a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .menuList li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
    .hamburger {
      /* Adjust the styles for small screen size */
      width: 20%; /* Make the hamburger menu occupy the full width */
      margin-top: 60px; /* Adjust the top margin */
      padding: 0.5em; /* Adjust the padding */
      font-size: 12px; /* Adjust the font size */
      border-radius: 8px;
      display: block; /* Adjust the border radius */
    }
  
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  .closeIcon {
    transition: transform 0.3s ease-in-out;
  }
  

  .toggleIcon {
    transition: transform 0.3s ease-in-out;
    animation: unrotateIcon 0.3s ease-in-out;
  }
  
  .rotate {
    animation: rotateIcon 0.3s ease-in-out;
  }
  
  @keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes unrotateIcon {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  